@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contenerdorTipoProd{
  width: 30vw;
  background-color: rgb(237, 237, 250);
  padding: 15px;
  border-radius: 2px;
}

.contenerdorOpcionesA{
  background-color: rgb(229, 229, 237);
  padding: 15px;
  border-radius: 2px;
}


.contenerdorOpcionesB{
  background-color: rgb(237, 237, 250);
  padding: 20px;
  border-radius: 2px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Selecciona un archivo...';
  color: white;
  display: inline-block;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 5px;
  padding: 7px 10px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  background-color: rgba(59, 130, 246); 
}

.gradient {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}



.landingText{
  text-align: center;
}

.landingHero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(96, 165, 250);
}

.contenedorAmarillo {
  background-color: rgb(252, 211, 77);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  text-align: center;
  margin: 20px;
}

.landingFeatures {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.btns-mi-perfil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}




.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alerta-error {
  background-color: rgb(230, 78, 78);
  color: var(--blanco);
}

.cerrar-sesion{
  color: var(--blanco)
}